*.c             text
*.h             text
*.rc            text
*.def           text eol=crlf

configure       text eol=lf
Makefile.in     text eol=lf
README.md       text

*.bat           text eol=crlf
*.mak           text eol=crlf
*.manifest      text eol=crlf
*.proj          text eol=crlf
*.yml           text
