*.c             text
*.h             text
*.rc            text
configure       text eol=lf
Makefile.in     text eol=lf
README.md       text
*.mak           text eol=crlf
*.bat           text eol=crlf
*.manifest      text eol=crlf
*.yml           text
