#include "resource.h"

#include "winresrc.h"

#define IDC_STATIC -1

LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US

IDD_MAIN DIALOG DISCARDABLE  200, 160, 192, 61
// Win32s: WS_MINIMIZEBOX allows maximizing.
STYLE DS_3DLOOK | DS_MODALFRAME | DS_SHELLFONT | WS_MINIMIZEBOX | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Countdown Timer"
/*
MS Shell Dlg:
3.1: System
NT 3.51: MS Sans Serif, probably because of DS_3DLOOK.
95, NT 4: MS Sans Serif
7: Microsoft Sans Serif
*/
FONT 8, "MS Shell Dlg"
BEGIN
    LTEXT           "The following command:",IDC_STATIC,4,4,88,8
    EDITTEXT        IDC_COMMAND,4,16,184,12,ES_AUTOHSCROLL
    CONTROL         "Just Beep",IDC_BEEP,"Button",BS_AUTOCHECKBOX | 
                    WS_TABSTOP,100,4,88,8
    LTEXT           "Will run in... (h:mm:ss)",IDC_STATIC,4,32,184,8
    EDITTEXT        IDC_TIME,4,44,64,12,ES_AUTOHSCROLL
    CONTROL         "Start",IDC_START,"Button",BS_AUTOCHECKBOX | BS_PUSHLIKE | WS_TABSTOP,72,44,36,12
    PUSHBUTTON      "Run Now",IDC_RUNNOW,112,44,36,12
    PUSHBUTTON      "Close",IDC_CLOSE,152,44,36,12
END

IDI_MAIN                ICON    PRELOAD DISCARDABLE "main.ico"
