#define WINVER 0x0400 /* For old w32api. */

#include "resource.h"

#if defined _WIN32 || !defined _WINDOWS
#	include "winresrc.h"
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
#else
#	include "windows.h"
#	define DS_3DLOOK    0x0004L
#	define DS_SHELLFONT 0
#	define IDHELP       9
#endif

#define IDC_STATIC -1

/*
16-color icon from Windows 95 PowerToys: Round Clock. Used without permission.
256+ color icon uses art assets from Windows 7: timedate.cpl. Used without permission.

To make a 32-bit subimage:
- Load icon-32bit.xcfgz
- Remove non-visible layers
- On the 'Hands' layer: Select All, Clear
- For each desired size:
  - Duplicate the image
  - Resample to desired size. Use Cubic interpolation.
  - Do Alpha to Selection on 'Red Halo', then invert selection.
  - On '-135 deg back' layer, Unsharp Mask: Radius = 1.5, Amount = 0.5, Threshold = 0
  - On 'Hands' layer, stroke paths in RGB(0, 0, 128), according to size:
    | Size       | HH:MM  | SS      |
    | 16px       | 0.5 px | 0.25 px |
    | 32px, 48px | 1   px | 0.5  px |
    | 64px       | 1.5 px | 0.75 px |

To make an 8-bit subimage:
- Continue from a 32-bit subimage
- Copy and paste the image onto itself repeatedly until the alpha channel is either 0 or 1.
- Copy and paste from the 32-bit subimage, then do Alpha to Selection.
- Delete the 32-bit layer, then Add Layer Mask, initialized to Selection.
- Clear the selection, then on the layer mask, do Threshold: (240-255). (16px: do 96-255 instead, 32px: 212-255.)
- Convert the image to indexed color, with a 236 color palette.
*/
IDI_MAIN ICON "main.ico"

// DIALOGEX doesn't work on Win32s.
// MS Shell Dlg, DIALOG -> Microsoft Sans Serif
// MS Shell Dlg, DIALOGEX -> Tahoma
// TODO: What happens if we go with MS Shell Dlg 2 as our font?

IDD_MAIN DIALOG DISCARDABLE 200, 160, 192, 60
// Win32s: WS_MINIMIZEBOX allows maximizing.
STYLE DS_MODALFRAME | DS_3DLOOK | DS_SHELLFONT | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Countdown Timer"
/*
MS Shell Dlg:
3.1: System
NT 3.51: MS Sans Serif, probably because of DS_3DLOOK.
95, NT 4: MS Sans Serif
7: Microsoft Sans Serif
*/
FONT 8, "MS Shell Dlg"
BEGIN
	LTEXT           "The following &command...",IDC_STATIC,4,4,92,8
	EDITTEXT        IDC_COMMAND,4,16,184,12,ES_AUTOHSCROLL
	LTEXT           "Will &run in... (h:mm:ss)",IDC_STATIC,4,32,184,8
	EDITTEXT        IDC_TIME,4,44,64,12,ES_AUTOHSCROLL
	CONTROL         "&Start",IDC_START,"Button",WS_TABSTOP,72,44,36,12
	PUSHBUTTON      "Run &Now",IDC_RUNNOW,112,44,36,12
	PUSHBUTTON      "Close",IDC_CLOSE,152,44,36,12
	CONTROL         "Just &beep",IDC_BEEP,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,140,4,48,10
END

#if defined __CYGWIN__
#	define BUILD "Built for Cygwin."
#elif defined __WRC__
#	define BUILD "Built for Winelib."
#elif defined _WIN64
#	define BUILD "Built for 64-bit Windows."
#elif defined _WIN32
/* Careful choice of wording here, just in case a 64-bit build accidentally doesn't define _WIN64. */
#	define BUILD "Built for the Win32 API."
#elif defined _WINDOWS
#	define BUILD "Built for 16-bit Windows."
#else
#	define BUILD ""
#endif

IDD_ABOUT DIALOG DISCARDABLE 0, 0, 296, 172
STYLE DS_MODALFRAME | DS_3DLOOK | DS_SHELLFONT | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "About"
FONT 8, "MS Shell Dlg"
BEGIN
	LTEXT           "",IDC_LICENSE,8,8,280,120
	LTEXT           BUILD,IDC_BUILD,8,136,280,8
	DEFPUSHBUTTON   "OK",IDCANCEL,124,152,48,16
END

IDR_ACCELERATOR ACCELERATORS
BEGIN
    VK_F1, IDHELP, VIRTKEY
END

#if defined _WIN32 || !defined _WINDOWS
CREATEPROCESS_MANIFEST_RESOURCE_ID RT_MANIFEST "wait.exe.manifest"
#endif
